

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Master</title>
</head>
<body>
    <h1>BURASI S MASTER PAGE</h1>
    <div>
        @Html.Partial("Name")

        @RenderBody() 
    </div>
</body>
</html>
